<div *ngIf="!loading" class="card shadow p-5">
  <div class="row">
    <a class="btn btn-link" routerLink="/">
      Volver al home
    </a>
  </div>
  <div class="row info">
    <div class="col-md-8 order-2 order-md-1 col-12">
      <h1 class="h2 mb-3">
        <span class="badge badge-secondary mr-2">{{ client.id }}</span>{{ client.name }}
      </h1>
      <p class="mb-1"><small [ngClass]="client.isActive ? 'text-success' : 'text-danger'">{{client.isActive ? 'Activo' : 'No activo'}}</small></p>
      <p class="small">{{ client.company }}</p>
      <button type="button" class="btn btn-sm show" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
      Mostrar {{isCollapsed ? 'más' : 'menos' }} info
      </button>
      <p [ngbCollapse]="isCollapsed">{{ client.about }}</p>
      <ul>
        <li>Email: {{ client.email }}</li>

        <li>Telefono: {{ client.phone }}</li>
      </ul>
      <h4 class="mb-3">Etiquetas:</h4>
      <ul class="col-12 etiquetas">
        <li class="badge bg-info" *ngFor="let tag of client.tags">{{ tag }}</li>
      </ul>

    </div>

    <div class="col-md-4 order-1 order-md-2 col-12 imagen">
      <img src="{{ client.picture }}" alt="{{ client.name }}" class="img-fluid" />
    </div>
  </div>

  <div class="row flex-column mt-3">




    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Más información</a>
        <ng-template ngbNavContent>
          <ul>
            <li>Guid: {{client.guid}}</li>
            <li>Balance: {{client.balance}}</li>
            <li>Fecha de registro: {{client.registered }}</li>
            <li>Edad: {{ client.age }}</li>
            <li>Genero: {{ client.gender }}</li>
            <li>Color de ojos: {{ client.eyeColor }}</li>
            <li>Fruta favorita: {{client.favoriteFruit}}</li>
            <li>Saludo: {{client.greeting}}</li>
          </ul>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>Amigos</a>
        <ng-template ngbNavContent>
          <ul class="col-12 friends">
            <li *ngFor="let friend of client.friends">{{ friend.name }}</li>
          </ul>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink>Dirección</a>
        <ng-template ngbNavContent>
          <p>{{client.address}}</p>
          <app-map [latitude]="client.latitude.toFixed(3)" [longitude]="client.longitude.toFixed(3)" [name]="client.name"></app-map>
          <!--
latitude: 38.676846
longitude: 103.026061 -->
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>

  </div>
</div>
