<div class="card shadow p-4">

  <table class="table table-responsive table-striped">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Edad</th>
      <th scope="col">Activo</th>
      <th class="action" scope="col">Ver detalles</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cliente of clients">

      <th scope="row">{{ cliente.id }}</th>
      <td>
        <img [src]="cliente.picture" class="mr-2" style="width: 20px">
        {{ cliente.name }}
      </td>
      <td>{{ cliente.age }}</td>
      <td>{{ cliente.isActive ? 'Si' : 'No' }}</td>
      <td class="action"><a class="btn btn-primary" routerLink="/client/{{cliente.id}}" state="{cliente}">Ver</a></td>
      <!-- <td><a (click)="goTo(cliente.id)">ver</a></td> -->
    </tr>
    </tbody>
  </table>
</div>
