.card {

  @media screen and (max-width:768px){
    overflow-x: scroll;

  }
  .table {


    display: table;

    th {
      border-top: none;


    }

    tr>* {
      text-align: center;
      border: none;
    }



  }
}
