@import "~leaflet/dist/leaflet.css";

.map{
  position: relative;

  width: 95%;
  height: 95%;
  min-height: 450px;
  margin: auto;
  max-height: 450px;
  max-height: 450px;
  &-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @media screen and (min-width:768px){

      margin: 30px;
    }

    img{
      max-width: none;
    }

    .map-frame {
      height: 100%;

      #map {
        height: 100%;
      }
    }
  }


}
